<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flower Shop</title>
    {% csrf_token %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg custom-pink-bg" data-bs-theme="dark">
        <style>
    .custom-pink-bg {
        background-color: #FCB4D5;
    }
</style>
        <div class="container-fluid">
            <a class="navbar-brand" style="color: #292929;" href="{% url 'home_url' %}">Flower Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" style="color: #292929;" aria-current="page" href="{% url 'products_url' %}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #292929;" href="{% url 'cart_detail_url' %}">Cart</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: #292929;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu">
                            {% for category in categories %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'products_by_category_url' category.id %}">
                                        {{ category.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link active" style="color: #292929;" aria-current="page" href="{% url 'profile_url' %}">Profile</a>
        </li>
        <li>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" style="color: #292929;" type="submit">Search</button>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link active" style="color: #292929;" aria-current="page" href="{% url 'sign_out_url' %}">Sign Out</a>
        </li>

        {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link active" style="color: #292929;" href="{% url 'add_product_url' %}">Add Product</a>
            </li>
        {% endif %}

    {% else %}
        <li class="nav-item">
            <a class="nav-link active" style="color: #292929;" aria-current="page" href="{% url 'sign_up_url' %}">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" style="color: #292929;" aria-current="page" href="{% url 'sign_in_url' %}">Sign In</a>
        </li>
    {% endif %}
         </ul>
            </div>
        </div>
    </nav>

    <div id="content" align="center">
        {% block content %}
        {% endblock %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>