{% extends 'base.html' %}
{% block content %}
    <div class="w-50 p-3" align="left" style="border: 1px solid gray; border-radius: 10px; margin-top: 10px;">
        <h1 align="center">Cart Detail</h1>

        <table class="table table-secondary" style="font-size: 120%">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in cart %}
                    <tr>
                        <th scope="row">{{ product.count }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }} тнг.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if error %}
            <h3 align="right" style="color: red">Total: {{ total }} тнг.</h3>
            <h3 style="color: red" align="center">{{ error }}</h3>
        {% else %}
            <h3 align="right">Total: {{ total }} тнг.</h3>
        {% endif %}

        {% if cart %}
            <div align="center">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="total" value="{{ total }}">
                    <input type="submit" class="btn btn-success" style="font-size: 20px" value="Purchase">
                </form>
            </div>
        {% endif %}

    </div>
{% endblock %}