{% extends 'base.html' %}
{% block content %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
    </style>

    <div align="center" style="margin-top: 20px; margin-bottom: 20px; margin-left: 10px; font-family: 'Yellowtail', cursive;">
        <img src="https://the-wedding.ru/upload/photo/CompanyPhoto/1437/foto_105.jpg" style="max-width: 70%; height: auto; float: left; margin-right: 20px;">
        <h1 style="font-size: 2.5em; font-weight: normal; color: #292929;">Flower Shop</h1>
        <p style="font-size: 1.5em; color: #333;">Заказ и покупка цветов по Казахстану</p>
        <p style="font-size: 1.2em; color: #666; margin-top: 10px;">Оформите заказ прямо сейчас и сделайте свой день особенным!</p>
        <p style="font-size: 1.2em; color: #666; margin-top: 10px;">У нас множество различных букетов по приятным ценам</p>
        <p style="font-size: 1.2em; color: #666; margin-top: 230px; float: right; margin-right: 30px;">8 777 777 7777</p>
    </div>
{% endblock %}
