{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid" style="max-width: 55%;">
            </div>
            <div class="col-md-6">
                <h2 class="text-center">{{ product.name }}</h2>
                <p>Category: {{ product.category }}</p>
                <p>Country: {{ product.country }}</p>
                <p>Description: {{ product.description }}</p>
                <p>Price: {{ product.price }}</p>

                {% if user.is_superuser %}
                    <div class="text-center mt-3">
                        <a href="{% url 'update_product_url' product.id %}" class="btn btn-primary">Update</a>
                        <a href="{% url 'delete_product_url' product.id %}" class="btn btn-danger">Delete</a>
                    </div>
                {% endif %}

                <div class="text-center mt-3">
                    <a href="{% url 'products_url' %}" class="btn btn-secondary">Back to Products</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}






